* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

menu {
    display: flex;
    justify-content: center;
    z-index: 100;
    height: 70px;
    max-width: 100%;
    position: relative;
    background: black;
    overflow: auto;
    top: 0;
    right: 0;
    /* margin-right: 200px;
    font-weight: 700;*/
}
menu ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 130px;
}

menu li {
    float: left;
    list-style: none;
    
}

menu a{
    margin-left: 20px;
    line-height: 70px;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    color:white;

}
menu i{
    margin-top:25px;
    margin-left:50px;
    color:white;
    
}
menu a:hover{
    color:maroon;
}
menu i:hover{
    color:maroon;
}
footer {
    height: 70px;
    max-width: 1200%;
    position: relative;
    color: white;
    background: black;
    text-align: center;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
}
.imagen-carrusel {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-size: 3em;
    background: linear-gradient(45deg, #000, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.titulo-catalogo {
    text-align: center;
    font-size: 2rem;
    color: #000; 
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
}

h2 {
    font-size: 3em;
    background: linear-gradient(45deg, #000, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

details {
    background: linear-gradient(45deg, #000, black);
    font-size: 3em;
    margin-bottom: 5px;
}
